<section class="hero is-medium">
    <div class="hero-head">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">

                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a href="{{ config.base_url }}" class=" navbar-item is-active">
                            Home
                        </a>
                        <a href="{{ config.base_url }}/blog" class="navbar-item">
                            Blog Posts
                        </a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a href="{{ config.base_url }}/atom.xml">
                                <i class="fa fa-rss-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="hero-body has-background-warning">
        <div class="container has-text-centered">
            <h1 class="title">
                Yaro's blog
            </h1>
        </div>
    </div>
</section>